{
    admin 127.0.0.1:2019
}

__COREAI_LOCAL_HOSTNAME__, localhost, 127.0.0.1 {
    tls internal
    encode zstd gzip

    reverse_proxy 127.0.0.1:8000 {
        flush_interval -1
        header_up Host {host}
        header_up X-Real-IP {remote_host}
        header_up X-Forwarded-For {remote_host}
        header_up X-Forwarded-Proto {scheme}

        transport http {
            dial_timeout 5s
            response_header_timeout 1800s
        }
    }
}
